div select {
    z-index:1;
}

div:before {
    display: block;
	position: absolute;
	content: '';
	left: 324px;
	top:429px;
	height: 32px;
	width: 20px;
	margin: 3px;
	background: white;
	z-index: 5;
}

div:after {
    display: block;
	position: absolute;
	content: '';
	left: 165px;
	top:429px;
	height: 32px;
	width: 20px;
	margin: 3px;
	background: white;
	z-index: 5;
}

