.externalBox{
	background-color:#C7C7C7;    
    padding:12px;
    width:518px;
}

.internalBox{
    font-family:"Arial",sans-serif;
	background-color:#ADADAD;
    padding:42px;

    border:none;
}

.right{
    float:right;
}
.header{
    font-size:24px;
    font-weight:bold;
}

.spaceX{
    height:24px;
}

.space025X{
    height:6px;
}

.space175X{
    height:42px;
}

.errorSpace,.targetSpace{
    height:30px;
}

.textLabel{
    font-size:18px;
    font-weight: bold;
}

.inputBox,.cardNumberBox,.securityCodeBox,.dateDropDown{
    height:36px;
    border:#999999 1px solid;
    border-radius:5px;
    font-size:18px;
    padding:0px 5px 0px 5px;
    width:100%;
}

.cardNumberBox{
    width: 75%;
    margin-right:12px;
}

.securityCodeBox{
    width:21%;
    float:right;
}

.helpSecurityCode{
    float:right;
    margin-right:-15px;
    margin-top:-24px;
}

.dateDropDown{
    width:30%;
    margin-right:12px;
}

.submitButton{
    border-radius:3px;
    text-align:center;
    border:#999999 1px solid;
    padding:5px;
    font-size:18px;
    font-weight: bold;
    width:50%;
    background-color:white;
}

.contextName {
    display: none;
    font-size:10px;
    color:#474747;
}
.contextNameR {
    display: none;
    font-size:10px;
    color:#474747;
    padding:;
}

.errorName {
    display: none;
    font-size:10px;
    color:white;
    text-align:center;
    border:#999999 1px solid;
    padding:0px;
    font-weight: bold;
    background-color:red;
    border-radius:5px;

}
.ok {
    border:green 3px solid;
}
