.externalBox{
	background-color:#C7C7C7;    
    padding:12px;
    width:518px;
}

.internalBox{
    font-family:"Arial",sans-serif;
	background-color:#ADADAD;
    padding:42px;

    border:none;
}

.right{
    float:right;
}
.header{
    font-size:24px;
    font-weight:bold;
}

.spaceX{
    height:24px;
}

.space05X{
    height:24px;
}

.space025X{
    height:6px;
}

.space175X{
    height:42px;
}

.checkSpace,.targetSpace,.infoSpace,.infoSpaceCC,.infoSpaceCVC{
    height:30px;
    font-size:18px;
}


.infoSpace{
    padding:0px 5px 0px 5px;
    line-height:30px;
    font-size:12px;
    color:#474747;
    vertical-align:middle;
}


.infoLeft{
    height:30px;
    width:72%;
    margin-right:6px;
    float:left;
}

.infoRight{
    height:30px;
    width:24%;
    float:right;
}

.checkSpace{
    display:none;
}

.textLabel{
    font-size:18px;
    font-weight: bold;
}

.checkBox,.checkBoxCC,.checkBoxCVC{
    margin-top:3.75px;
    float:left;
    height:22.5px;
    border-radius:5px;
    line-height:22.5px;
    vertical-align: middle;
    background-color:white;
    font-size:12px;
    font-weight:bold;
    text-indent:5px;
    width:100%;
}
.checkBox{
    padding-right:12px;
}

.checkBoxCC,.checkBoxCVC{
    display:none;
}

.inputBox,.cardNumberBox,.securityCodeBox,.dateDropDown{
    height:36px;
    border:#999999 1px solid;
    border-radius:5px;
    font-size:18px;
    padding:0px 5px 0px 5px;
    width:100%;

}

.cardNumberBox{
    width: 69%;
    margin-right:12px;
}

.securityCodeBox{
    width:21%;
    float:right;
}

.helpSecurityCode{
    float:right;
    margin-right:-105px;
    margin-top:-5px;
    height: 14px;
    width: 14px;
    font-size:12px;
    text-align:center;
    color:#ffffff;
    background-color: #191919;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius:7px;
    border: 1px solid #000000;
    padding: -2px;
}

.help{
    display: none;
    float:right;
    margin-right:-20px;
    margin-top:-50px;
    height: 40px;
    width: 100px;
    font-size:10px;
    text-align:center;
    color:#ffffff;
    background-color: #212121;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    border: 1px solid #000000;
    padding: -2px;
    opacity:0.9;
}

.dateDropDown{
    width:30%;
    margin-right:12px;
}

.submitButton{
    z-index:1;
    border-radius:3px;
    text-align:center;
    border:#999999 1px solid;
    padding:5px;
    font-size:18px;
    font-weight: bold;
    width:100%;
    height:40px;
    background-color:white;
}
.submitButton:hover:enabled{
    background-color:rgba(0,0,0,0.9);
}

.contextName {
    display: none;
    font-size:10px;
    color:#474747;
}
.contextNameR {
    display: none;
    font-size:10px;
    color:#474747;
    padding:;
}

.backSubmit{
    width:50%;
    border-radius:3px;
    background-color: rgba(72,72,72,0.0);
}

.errorName {
    display: none;
    font-size:10px;
    color:white;
    text-align:center;
    border:#999999 1px solid;
    padding:0px;
    font-weight: bold;
    background-color:red;
    border-radius:5px;

}

.ok {
    border:green 3px solid;
}

.ui-datepicker-calendar {
    display: none;
}​

.american,.maestro,.mastercard,.visa{
    float:left;
    height:30px !important;
    width:48px !important;
    margin-right:12px;
}

.american{
    float:left !important;
    height:30px !important;
    width:48px !important;
    margin-right:12px !important;
    background-image: url('cards/americanexpress.png');
}

.maestro{
    background-image: url('cards/maestro.png');
}

.mastercard{
    background-image: url('cards/mastercard.png');
}

.visa{
    background-image: url('cards/visa.png');
}

.creditCardNotSelected{
    float:left;
    background-color: #ffffff;
}

.innactive{
    -khtml-opacity:.30; 
    -moz-opacity:.30; 
    -ms-filter:"alpha(opacity=30)";
    filter:alpha(opacity=30);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.3);
    opacity:.30; 
}

.styled-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 20px 2px 2px;
    background: transparent url("br_down.png") no-repeat right center;
    text-indent: 0.01px;
    text-overflow: '';
   }

@-moz-document url-prefix() {
    select:focus{
    margin-top: -1px;
    }
}