.externalBox{
	background-color:#C7C7C7;    
    padding:12px;
    width:568px;
}

.internalBox{
    font-family:"Arial",sans-serif;
	background-color:#ADADAD;
    padding:42px;
    border-radius:5px;
    border:#999 1px solid;
    
}

.right{
    float:right;
}

.left{
    float:left;
}
.header{
    font-size:24px;
    font-weight:bold;
}

.spaceX{
    height:24px;
}

.space05X{
    height:24px;
}

.space025X{
    height:6px;
}

.space175X{
    height:42px;
}

.checkSpace,.targetSpace,.infoSpace,.infoSpaceCC,.infoSpaceCVC{
    height:30px;
    font-size:18px;
}


.targetSpace{
    
    height:20px;
    float:right;
}
.targetLeftSpace{
    z-index: 99999999;
    width: 73%;
    position:relative;
    margin-top:-30px;
    background-color:blue;
    float:left;
}
.infoSpace{
    padding:0px 5px 0px 5px;
    line-height:30px;
    font-size:14px;
    color:#474747;
    vertical-align:middle;
}


.infoLeft{
    height:30px;
    width:76%;
    margin-right:6px;
    float:left;
}

.infoRight{
    height:30px;
    width:21%;
    float:right;
}

.checkSpace{
    display:none;
}

.textLabel{
    font-size:18px;
    font-weight: bold;
}
.clearing{
    clear:both;
}

.checkBox,.checkBoxCC,.checkBoxCVC{
    margin-top:3.75px;
    float:left;
    height:22.5px;
    border-radius:5px;
    line-height:22.5px;
    vertical-align: middle;
    background-color:white;
    font-size:14px;
    font-weight:bold;
    text-indent:5px;
    width:100%;
}
.checkBox{
    padding-right:12px;
    width:97.5%
}

.checkBoxCC,.checkBoxCVC{
    display:none;
}

.inputBox,.cardNumberBox,.securityCodeBox,.dateBox{
    height:36px;
    border:#999999 1px solid;
    border-radius:5px;
    font-size:18px;
    padding:0px 5px 0px 5px;
    width:100%;
    
}

.inputBox{
    width:97.5%;
}

.dateBox{
    width:35px;
    text-align:center;
}

.cardNumberBox{
    width: 73%;
    margin-right:12px;
    

}

.american{
    background: transparent url('cards/americanexpress.png');
    
}

.maestro{
    background: transparent url('cards/maestro.png');
}

.mastercard{
    background: transparent url('cards/mastercard.png');
}

.visa{
    background: transparent url('cards/visa.png');
}

.american,.mastercard,.maestro,.visa{
    background-position: 98% 50%; 
    background-size:40px 25px;
    background-repeat:no-repeat;
}

.securityCodeBox{
    width:18%;
    float:right;
}



.helpSecurityCode{
    float:right;
    margin-right:-105px;
    margin-top:-5px;
    height: 14px;
    width: 14px;
    font-size:12px;
    text-align:center;
    color:#ffffff;
    background-color: #191919;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius:7px;
    border: 1px solid #000000;
    padding: -2px;
}

.help{
    display: none;
    float:right;
    margin-right:-20px;
    margin-top:-50px;
    height: 40px;
    width: 100px;
    font-size:10px;
    text-align:center;
    color:#ffffff;
    background-color: #212121;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius:5px;
    border: 1px solid #000000;
    padding: -2px;
    opacity:0.9;
}

.dateDropDown{
    width:30%;
    margin-right:12px;
}

.submitButton{
    z-index:1;
    border-radius:5px;
    text-align:center;
    border:#999999 1px solid;
    padding:5px;
    font-size:18px;
    font-weight: bold;
    width:100%;
    height:45px;
    background-color:white;
}
.submitButton:hover:enabled{
    background-color:rgba(0,0,0,0.9);
}
.lastSpace{
    height:5px;
}

.contextName {
    display: none;
    font-size:10px;
    color:#474747;
}
.contextNameR {
    display: none;
    font-size:10px;
    color:#474747;
    padding:;
}

.backSubmit{
    width:50%;
    border-radius:3px;
    background-color: rgba(72,72,72,0.0);
}

.errorName {
    display: none;
    font-size:10px;
    color:white;
    text-align:center;
    border:#999999 1px solid;
    padding:0px;
    font-weight: bold;
    background-color:red;
    border-radius:5px;

}
.rightMargin{
    width:100%;
}
.ok {
    border:green 3px solid;
}

.ui-datepicker-calendar {
    display: none;
}​



.creditCardNotSelected{
    float:left;
    background-color: #ffffff;
}


.styled-select select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 20px 2px 2px;
    background: transparent url("br_down.png") no-repeat center;
    background-position: 95% 50% ; 
    text-indent: 0.01px;
    text-overflow: '';
   }


@-moz-document url-prefix() {
    select:focus{
    margin-top: -1px;
    }
}

